<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" media="all" type="text/css" th:href="@{/css/library.css}" href="/css/library.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link th:href="@{/style.css}" rel="stylesheet">
    <style>
        body {
            background-color: #E6F3FF;
        }

        .btn-primary {
            background-color: blue;
            color: #fff;
        }

        .card.product-item {
            border: 2px solid navy;
        }
    </style>
</head>
<body>
    <h2>Welcome: <span th:text="${userFirstName}"></span> <span th:text="${userLastName}"></span></h2>
    <h3>User ID: <span th:text="${userId}"></span></h3>

    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2>Products</h2>
        </div>
        <div class="row justify-content-center px-xl-5 pb-3">
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1" th:each="product : ${allProducts}">
                <div class="card product-item border-0 mb-4">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                        <a th:href="@{infoProduct(id=${product.id})}">
                            <img class="img-fluid w-100 justify-content-center" src="https://placehold.jp/200x200.png" alt="">
                        </a>
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3" th:text="${product.name}"></h6>
                        <div class="d-flex justify-content-center">
                            <h6 th:text="${product.price}"></h6>
                            <h6 class="text-muted ml-2"></h6>
                            <form method="post" th:action="@{/addToCart(productId=${product.id})}">
                              <input type="hidden" name="userId" th:value="${userId}">
                                <button type="submit" class="btn btn-primary">Add to Cart</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
